@model BlogWebUI.Areas.Admin.Models.AdminBildirimViewModel
@{


    <!-- TIMELINE -->
    <div class="panel col-md-6">
        <div class="panel-heading">
            <h2 class="panel-title">Mesajlarım</h2>

        </div>
        <div class="panel-body">
            <ul class="list-unstyled activity-list">
                @foreach (var item in Model.Bildirimler)
                {
                    if (item.Tur== "Mesaj")
                    {
                <li>
                    @foreach (var kul in Model.Kullanicilar)
                    {
                        if (kul.KullaniciId == item.Gonderen)
                        {
                            <img src="~/images/KulFoto/@kul.FotoUrl" alt="Avatar" class="img-circle pull-left avatar">
                            <p>
                                <a href="#"> <span></span>@kul.KulAdSoyad</a>
                                <br />
                                @if (item.Mesaj.Length > 50)
                                {
                                    @item.Mesaj.Substring(0, 50)

                                }
                                else
                                {@item.Mesaj}
                                <span class="timestamp bottom-right text-right">
                                    <span class="" style="margin-right:10px;"><i class="fa fa-envelope-o"></i>&nbsp; @item.Mail</span>
                                    <span class=""><i class="lnr lnr-clock"></i>&nbsp; @item.GondermeTarihi.ToLongDateString()</span>
                                </span>
                            </p>
                        }
                    }
                </li>
                    }

                }

            </ul>
                <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
        </div>
    </div>
    <!-- END TIMELINE -->

    <!-- TIMELINE -->
    <div class="panel col-md-6 right">
        <div class="panel-heading">
            <h2 class="panel-title">Mail</h2>

        </div>
        <div class="panel-body">
            <ul class="list-unstyled activity-list">
                @foreach (var item in Model.Bildirimler)
                {
                    if (item.Tur == "Mail")
                    {
                <li>
                    @foreach (var kul in Model.Kullanicilar)
                    {
                        if (kul.KullaniciId == item.Gonderen)
                        {
                            <img src="~/images/KulFoto/@kul.FotoUrl" alt="Avatar" class="img-circle pull-left avatar">
                            <p>
                                <a href="#"> <span></span>@kul.KulAdSoyad</a>
                                <br />
                                @if (item.Mesaj.Length > 50)
                                {
                                    @item.Mesaj.Substring(0, 50)

                                }
                                else {@item.Mesaj }
                                <span class="timestamp bottom-right text-right">
                                    <span class="" style="margin-right:10px;"><i class="fa fa-envelope-o"></i>&nbsp; @item.Mail</span>
                                    <span class=""><i class="lnr lnr-clock"></i>&nbsp; @item.GondermeTarihi.ToLongDateString()</span>
                                </span>
                            </p>
                        }
                    }
                </li>
                    }

                }
            </ul>
            <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
        </div>
    </div>
    <!-- END TIMELINE -->


}
