@model BlogWebUI.Areas.Admin.Models.AdminKullaniciViewModel
@{
}
@{

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Profil Düzenle</h3>
        </div>
        <div class="panel-body ">
            @Html.ActionLink(" Geri", "index", "AdminKullanici", new { @controller = "AdminMakale" }, new { @class = "fa fa-chevron-left btn btn-info", })
            <br />
            <form enctype="multipart/form-data" method="post" action="/Admin/AdminKullanici/Guncelle">
                <input type="hidden" id="KullaniciId" name="KullaniciId" value="@Model.Kullanici.KullaniciId">
                <br />
                <img src="~/images/KulFoto/@Model.Kullanici.FotoUrl" class="img-circle" width="128" height="128" style="margin-bottom:10px;" />

                <br />
                <input type="file" class="form-control" name="FotoUrl"  />
                <br />
                <div class="form-group">

                    <input type="text" value="@Model.Kullanici.KulAdSoyad" class="form-control" name="KulAdSoyad" placeholder="Ad Soyad " />
                    <br />
                    <input type="email" class="form-control" value="@Model.Kullanici.Email" name="Email" placeholder="Email" readonly="readonly" />
                    <br />
                    <input type="password" class="form-control" name="Parola" value="@Model.Kullanici.Parola" placeholder="password" readonly="readonly" />
                    <br />

                    @*@Html.DropDownList("RolId", Model.SelectedRolData, new { @class = "dropdown form-control" })*@
                <select name="RolId" class="form-control">
                    @foreach (var item in Model.SelectedRolData)
                    {
                        if (Model.Kullanici.RolId == Convert.ToInt32(item.Value))
                        {
                            <option value="@item.Value" selected>@item.Text</option>

                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>

                        }

                    }

                </select>
                    <br />

                    <input type="submit" class="btn btn-primary btn-lg " />
                </div>
            </form>


        </div>
        </div>

           
            }
