@model BlogWebUI.Areas.Admin.Models.AdminMakaleViewModel


@{

        int makaleSayisi = 0;
        int sayac = 0;

    <!-- TABLE HOVER -->
<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Makale İşlemleri</h2>
    </div>
    <div class="col-md-12">
        @Html.ActionLink("","MakaleOlustur", "AdminMakale", new { @controller = "AdminMakale" }, new { @class = "btn btn-success right btn-lg lnr lnr-pencil", })
        <br /><br />
        @*<a href="/Admin/AdminMakale/MakaleOlustur" type="button" class="btn btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Yeni Makale Oluştur</a>*@
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Foto</th>
                    <th>Kategori</th>
                    <th>Başlık</th>
                  
                    <th>içerik</th>
                    <th>Okunma Sayısı</th>
                    <th>Yayınlanma Tarihi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.RolId.Equals(1))
                {
                    @foreach (var item in Model.Makaleler.OrderByDescending(x => x.MakaleYayinlanmaTarihi))
                    {
                <tr>

                    <td>@item.MakaleId</td>
                    <td><img src="~/images/MakaleFoto/@item.MakaleFotoUrl" class="img-thumbnail img-responsive" width="32" height="32" /></td>
                    @*@if (!item.MakaleFotoUrl.Equals(null))
        {
            <td><img src="~/images/MakaleFoto/@item.MakaleFotoUrl" class="img-circle" width="32" height="32" /></td>
        }
        else
        {
            <td><img src="~/images/MakaleFoto/resim1.jpg" class="img-circle" width="32" height="32" /></td>

        }*@
                    @*<td>@item.MakaleFotoUrl</td>*@
                    @foreach (var kategori in Model.Kategoriler)
                    {
                        if (item.KategoriId == kategori.KategoriId)
                        {
                            <td>@kategori.KategoriAdi</td>
                        }

                    }
                    <td>@item.MakaleBaslik</td>
                    @if (item.MakaleIcerik.Length > 50)
                    {
                        <td>@item.MakaleIcerik.Substring(0, 50)...</td>
                    }
                    else
                    {

                        <td>@item.MakaleIcerik</td>
                    }
                    <td style="text-align:center;">@item.MakaleOkunmaSayisi</td>
                    <td style="text-align:center;">@item.MakaleYayinlanmaTarihi</td>
                    @using (Html.BeginForm("Guncelle", "AdminMakale", new { enctype = "multipart/form-data" }, FormMethod.Get))
                    {
                <td style="text-align:right;">
                    <button type="submit" name="id" value="@item.MakaleId" formaction=@Url.Action("Guncelle") formmethod="get" class="btn btn-warning  btn-sm ">
                        <span class="fa fa-pencil-square-o"></span>

                    </button>
                    @*<button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>*@
                    <button type="submit" name="id" value="@item.MakaleId" formaction=@Url.Action("MakaleSil") formmethod="post" class="btn btn-danger btn-sm">
                        <span class="lnr lnr-trash"></span>
                    </button>

                </td>
                    }
                    </tr>
                        makaleSayisi += 1;
                    }
                }
                @if (Model.RolId.Equals(2))
                {
                    @foreach (var item in Model.Makaleler.OrderByDescending(x => x.MakaleYayinlanmaTarihi))
                    {
                        if (Model.KulId.Equals(item.KullaniciId))
                        {

            <tr>
                @sayac+=1
                <td>@Html.Label(sayac.ToString())</td>
                <td>@item.MakaleFotoUrl</td>
               @foreach (var kategori in Model.Kategoriler)
               {
                   if (item.KategoriId==kategori.KategoriId)
                   {
                       <td>@kategori.KategoriAdi</td>
                   }

               }
                <td>@item.MakaleBaslik</td>
                @if (item.MakaleIcerik.Length > 100)
                {
                    <td>@item.MakaleIcerik.Substring(0, 100)...</td>
                }
                else
                {

                    <td>@item.MakaleIcerik</td>
                }
                <td>@item.MakaleOkunmaSayisi</td>
                <td>@item.MakaleYayinlanmaTarihi</td>
                @using (Html.BeginForm("MakaleSil", "AdminMakale", new { enctype = "multipart/form-data" }, FormMethod.Post))
                {
                    <td>
                        <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="submit" name="id" value="@item.MakaleId" formaction=@Url.Action("MakaleSil") formmethod="post" class="btn btn-danger btn-sm ">
                            <span class="lnr lnr-trash"></span>
                        </button>

                    </td>
                }

                makaleSayisi += 1;
                </tr>
                        }

                    }
                }
            </tbody>
        </table>
    </div>
    <div style="margin:10px;">
        @Html.Label("Toplam Makale Sayısı: " + makaleSayisi)

    </div>

</div>
    <!-- END TABLE HOVER -->
    }
